.site-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.site-title {
  margin: 0;
}

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  align-self: center;

  ul {
    display: none;
    list-style: none;
    margin: 1rem;
    padding-left: 1rem;

    li {

      &:hover>ul,
      &.focus>ul {
        display: block;
        left: auto;
      }
    }


    li:hover>ul,
    li.focus>ul {
      left: auto;
    }
  }

}

.menu-toggle {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}

.hamburger-bar {
  width: 2rem;
  height: 4px;
  background-color: $color__dark;
}

// Naviation toggled
.toggled .menu-custom-menu-container {
  display: block;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color__background-body;
  z-index: 998;
  height: 100%;
  width: 100%;
}

.toggled .nav-menu {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .main-navigation {
    align-self: unset;

    ul {
      display: flex;
      position: relative;
      margin: 0;
      padding: 0;
    }
  }

  .menu-toggle {
    display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
